@import "tailwindcss";

@theme {
  --color-main-bg: #ffffff; /* Slate 50 */
  --color-card-bg: #ffffff;
  --color-border-subtle: rgba(0, 0, 0, 0.1);
  --color-text-main: #0f172a; /* Slate 900 */
  --color-text-subtle: #64748b; /* Slate 500 */
  --color-accent: #38bdf8; /* Cian */
  --color-accent-end: #6366f1; /* Indigo */
  --color-principal: #06b6d4;
  --font-sans:
    "Bricolage Grotesque", "Plus Jakarta Sans", "Inter", system-ui, sans-serif;
}

.dark {
  color-scheme: dark;
  /* El negro fuerte que te gustó para Navbar y Sidebar */
  --color-card-bg: #0a0a0c;
  /* Un gris casi negro para el fondo principal (opcional, para dar profundidad) */
  --color-main-bg: #09090a;
  --color-text-main: #ffffff;
  --color-text-subtle: #94a3b8; /* #94a3b8 */ /* #808ea1 */
  --color-border-subtle: rgba(255, 255, 255, 0.08);
  --color-principal: #06b6d4; /* Cian */
}

@layer base {
  body {
    @apply bg-main-bg text-text-main antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "gray";
  }
}

@layer components {
  .active {
    @apply bg-linear-to-r from-accent to-accent-end text-white shadow-lg shadow-cyan-500/20;
  }
}
