@import "tailwindcss";

@theme {
  --color-main-bg: #f8fafc; /* Slate 50 */
  --color-card-bg: #ffffff;
  --color-border-subtle: rgba(0, 0, 0, 0.05);
  --color-text-main: #0f172a; /* Slate 900 */
  --color-text-subtle: #64748b; /* Slate 500 */
  --color-accent: #38bdf8; /* Cian */
  --color-accent-end: #6366f1; /* Indigo */
  --font-sans:
    "Bricolage Grotesque", "Plus Jakarta Sans", "Inter", system-ui, sans-serif;
}

.dark {
  --color-main-bg: #0b0c10;
  --color-card-bg: #17171b;
  --color-text-main: #ffffff;
  --color-text-subtle: #94a3b8;
  --color-border-subtle: rgba(255, 255, 255, 0.05);
}

@layer base {
  body {
    @apply bg-[var(--color-main-bg)] text-[var(--color-text-main)] antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "gray";
  }
}

/* Scrollbar para diseño claro */
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full hover:bg-slate-300;
  }
  /* Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #e2e8f0 transparent; /* Slate 200 */
  }
}
